/* Nav bar */

nav {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

nav a {
    float: left;
    display: block;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #1A9287;
}

/* title */

.main-title {
    font-family: Arial, Helvetica, sans-serif;
}

/* Job container */

.job {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* Actual timesheet */

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
} */
.container {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 140px;
}
.week-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.input-container {
    margin: 10px;
    display: flex;
    align-items: center;
}
.input-container input {
    font-size: 15px;
    padding: 10px;
    width: 150px;
}
.input-container label {
    font-size: 15px;
    margin-right: 10px;
}

/* two_months worked box */

.two_months_entry_box {
    margin: 10px;
    display: flex;
    align-items: center;
}
.two_months_entry_box input {
    font-size: 15px;
    padding: 10px;
    width: 150px;
}
.two_months_entry_box label {
    font-size: 15px;
    margin-left: 490px;
}

/* button */

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

