{% extends 'base.html' %}

{% block content %}
    <div class="content">
            <div class="job">
                <!-- <p><b>#{{ job.id }}</b></p> -->
                <b>
                    <p class="department">{{ job.department }}</p>
                </b>
                <p>{{ job.job_title }}</p>
                <p>Joined: {{ job.created_at }}</p>
                <a href="{{ url_for('UCC_login_in', job_id=job.id) }}" class="submit-btn">Go to Timesheet</a>
            </div>
    </div>
{% endblock %}